body {
    background: #FAFAFA;
}

div.container_12 {
background: #545454;
-webkit-box-shadow: 0 0 10px 2px black;
-webkit-border-radius: 5px;
color: #87C92A;
font-weight: bold;
}

li {
    display: inline-block;
    line-height: 30px;
    padding-right: 1em;
    padding-left: 1em;
}
li:hover, li.active {
    border-top-left-radius: 7px 7px;
    border-top-right-radius: 7px 7px;
    background: #87C92A;
    color:#545454;
    cursor: pointer;
}
ul {
    display:block;
    margin: 0;
    padding: 0;
}
div.divider {
     border-top: 1px solid #87C92A;
}